<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        processIsolation="true"
        bootstrap="tests/src/bootstrap.php"
>
    <testsuites>
        <testsuite name="core">
            <file>tests/StorageAdapterFilesystemTest.php</file>
            <file>tests/PreparerTest.php</file>
            <file>tests/NgramsTest.php</file>
            <file>tests/NgramIndexTest.php</file>
            <file>tests/RequestValidatorTest.php</file>
        </testsuite>
        <testsuite name="handler">
            <file>tests/RequestHandlerIndexListTest.php</file>
            <file>tests/RequestHandlerCreateIndexTest.php</file>
            <file>tests/RequestHandlerAddToIndexTest.php</file>
            <file>tests/RequestHandlerQueryIndexTest.php</file>
        </testsuite>
        <testsuite name="all">
            <file>tests/StorageAdapterFilesystemTest.php</file>
            <file>tests/PreparerTest.php</file>
            <file>tests/NgramsTest.php</file>
            <file>tests/NgramIndexTest.php</file>
            <file>tests/RequestValidatorTest.php</file>
            <file>tests/RequestHandlerIndexListTest.php</file>
            <file>tests/RequestHandlerCreateIndexTest.php</file>
            <file>tests/RequestHandlerAddToIndexTest.php</file>
            <file>tests/RequestHandlerQueryIndexTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
